#navi{
    height:45px;
}
#dropmenu{
    width:900px;
    height:40px;
    margin:0px auto 300px;
    background:#68b886;
    border-bottom: 5px solid #4ca16c;
    position:absolute;
}
#dropmenu li{
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}
#dropmenu li a{
    display: block;
    padding: 15px 0 11px;
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    transition:.4s;
}
#dropmenu li:hover > a{
    background:#51ad74;
    color: #ffff8e;
}

#dropmenu li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
}

#dropmenu li ul li{
    overflow: hidden;
    width: 100%;
    height: 0;
    color:#c4e3d0;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}
#dropmenu li ul li a{
    padding: 13px 15px;
    background:#4ca16c;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}
#dropmenu li:hover ul li{
    height: 38px;
    border-top: 1px solid #8bc8a2;;
    z-index:2;
}
#dropmenu li:hover ul li:first-child{
    border-top: 0;
}